.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-content {
  margin-top: auto;
  margin-bottom: auto;
}
.page-bottom {
  text-align: center;
}

.logo {
  width: 255px;
  margin: 0 auto 50px;
}
