<ion-content class="ion-padding">
  <div class="page-wrapper">
    <div class="page-content">
      <ion-img src="/assets/img/logo.png" class="logo"></ion-img>
      <ul>
        <li>Start with a 14-day free trial.</li>
        <li>Cancel anytime</li>
        <li>Hundreds of hand crafted recipes</li>
        <li>No credit card required</li>
        <li>No charge until after your 14-day free trial</li>
      </ul>
    </div>
    <div class="page-bottom">
      <ion-button routerLink="/signup" expand="block" shape="round">Sign Up</ion-button>
      <a routerLink="/login" class="btn-link">Log in to my account</a>
    </div>
  </div>
</ion-content>
