<ion-content>
  <ion-list class="section">
    <ion-list-header>
      <ion-title>Details</ion-title>
    </ion-list-header>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>First Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last Name</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Measurements</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mobile</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="section">
    <ion-list-header>
      <ion-title>About Me</ion-title>
    </ion-list-header>
    <ion-item>
      <ion-label>Height</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Sex</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Meal Plan Type</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Food Preferences</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Allergies</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Medical History</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="section">
    <ion-list-header>
      <ion-title>Alerts & Reminders</ion-title>
    </ion-list-header>
    <ion-item>
      <ion-label>Meal Times</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Weekly Plan</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Meal Review</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="section">
    <ion-list-header>
      <ion-title>Emails</ion-title>
    </ion-list-header>
    <ion-item>
      <ion-label>Newsletters</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Updates</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="section">
    <ion-list-header>
      <ion-title>Billing</ion-title>
    </ion-list-header>
    <ion-item>
      <ion-label>Card Number</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Expires</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CVV</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Billing Address</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Auto Renew</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-list class="section">
    <ion-list-header>
      <ion-title>Legal</ion-title>
    </ion-list-header>
    <ion-item>
      <ion-label>Privacy Policy</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Terms & Conditions</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Accessibility</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" shape="round">Log Out</ion-button>
</ion-content>
