<ion-content class="auth-page ion-padding">
  <ion-img src="/assets/img/logo.png" class="logo"></ion-img>
  <h1 class="page-title">Sign Up</h1>
  <form [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">
    <ion-list>
      <ion-item color="transparent">
        <ion-label position="floating">Full Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label position="floating">Choose Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="checkbox-item" color="transparent" lines="none">
        <div class="checkbox-container">
          <ion-checkbox></ion-checkbox>
        </div>
        <ion-label>Send me a welcome email, blogs & more</ion-label>
      </ion-item>
    </ion-list>
    <div class="form-actions">
      <ion-button type="submit" expand="block" shape="round">Create My Account</ion-button>
      <a routerLink="/login" class="btn-link">Log in to my account</a>
    </div>
  </form>
  <hr class="divider" />
  <div class="social-buttons">
    <ion-button (click)="tryGoogleLogin()" color="google" expand="block">Sign Up with Google</ion-button>
    <ion-button (click)="tryFacebookLogin()" color="facebook" expand="block">Sign Up with Facebook</ion-button>
    <ion-button (click)="tryTwitterLogin()" color="twitter" expand="block">Sign Up with Twitter</ion-button>
  </div>
  <div class="policy">
    By creating an account, I accept the <a>ATP Privacy Policy</a> and <a>Terms & Conditions</a>
  </div>
</ion-content>
