<ion-content class="auth-page ion-padding">
  <form class="page-wrapper" [formGroup]="validations_form" (ngSubmit)="tryResetPassword(validations_form.value)">
    <div class="page-content">
      <ion-img src="/assets/img/logo.png" class="logo"></ion-img>
      <h1 class="page-title">Forgot Password</h1>
      <ion-list>
        <ion-item color="transparent">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="
              validations_form.get('email').hasError(validation.type) && 
              (validations_form.get('email').dirty || validations_form.get('email').touched)
            ">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>

        <ion-item color="transparent">
          <ion-label position="floating">Confirm Email</ion-label>
          <ion-input type="email" formControlName="confirm_email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_email">
            <div class="error-message" *ngIf="
              validations_form.get('confirm_email').hasError(validation.type) && 
              (validations_form.get('confirm_email').dirty || validations_form.get('confirm_email').touched)
            ">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </ion-list>
    </div>
    <div class="page-bottom">
      <ion-button type="submit" expand="block" shape="round">Reset Password</ion-button>
      <a routerLink="/login" class="btn-link">Log in to my account</a>
    </div>
  </form>
</ion-content>
